<h1> <%=@camper.name %><h1>

<h3> Age: <%=@camper.age%></h3>

<h3>Activities:</h3>
<ul>
    <% @camper.signups.each do |signup| %>
        <li><%=link_to signup.activity.name, activity_path(signup.activity)%> at <%=signup.time%>:00</li>
    <%end%>
</ul>


<%= link_to "Sign up for an activity", new_signup_path %>